---
import Layout from '../layouts/default.astro';
import Showcase from '../components/showcase.astro';
---
<Layout>
	<>
	<Showcase />
	<h1 class='text-5xl text-indigo-800'>Hello {'world'.toUpperCase()} &rarr;</h1>
	</>
</Layout>