---
import Logo from '../assets/img/logo.svg'
---

<header>
    <nav class="m-4 flex flex-row">
        <a href='/' class=''>
            <img src={Logo} alt='Astro' width='64' />
        </a>
        <div class='flex-1'></div>
            <ul class='flex flex-row'>
                <li class='px-2'><a class='text-indigo-800 hover:text-indigo-700' href='blog'>Blog</a></li>
                <li class='px-2'><a class='text-indigo-800 hover:text-indigo-700' href='contact'>Contact</a></li>
                <li class='px-2'><a class='text-indigo-800 hover:text-indigo-700' href='course'>Course</a></li>
            </ul>
    </nav>
</header>