---
import Header from '../components/header.astro'
export interface Props {
    title?: String;
}
const {title = 'Astro crash course'} = Astro.props as Props;


---
<!doctype html>
<html lang="en">
    <head>
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <div>
            <slot />
        </div>
    </body>
</html>